<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Spincord | {{ page.title }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <a class="navbar-brand mb-0 h1 d-flex align-items-center" href="/">
                <img class="rounded-circle record-icon" src="{{ site.baseurl }}/assets/img/record.jpg" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
                Spincord
            </a>
            <div class="links">
                <a href="{{ site.baseurl }}/about">About</a>
                <a href="{{ site.baseurl }}/blog">Blog</a>
                <a href="{{ site.github_url }}">GitHub</a>
            </div>
            </div>
        </nav>
        <section>
            {{ content }}
        </section>
        <hr>
        <footer class="container text-center mt-4 mb-5">
            <img class="shadow rounded-circle mb-4" src="https://github.com/kmrn.png?size=60" />
            <h6>Made with ❤️ by <a href="https://github.com/kmrn">Kamran</a></h6>
            &copy; <script>document.write(new Date().getFullYear())</script>
        </footer>
    </body>
</html>